/*
    Map Section
*/

#map {
    min-height: 500px;
    height: 100vh;
    width: 100%;
}

.jqpaginator {
    position: relative;
}

.jqpaginator .jqp-wrap {
    display: block;
    margin: 0 auto;
    max-width: 540px;
    position: relative;
    text-align: center;
}

.jqpaginator .jqp-wrap .jqp-input {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.jqpaginator .jqp-wrap .jqp-prev,
.jqpaginator .jqp-wrap .jqp-next,
.jqpaginator .jqp-wrap .jqp-pages {
    display: inline-block;
}

.jqpaginator .jqp-wrap .jqp-pages {
    padding: 0;
    margin: 0;
}

.jqpaginator .jqp-wrap .jqp-pages li {
    cursor: default;
    display: inline-block;
    padding: 5px 10px;
}

.jqpaginator .jqp-wrap .jqp-pages li.jqp-page,
.jqpaginator .jqp-wrap button {
    cursor: pointer;
}

.jqpaginator .jqp-wrap .jqp-pages li.jqp-active {
    cursor: default;
    font-weight: bold;
}

.jqpaginator .jqp-wrap button .jqp-disable {
    color: #BBBBBB;
    cursor: default;
    pointer-events: none;
}

#target {
    display: block;
    position: relative;
}

.map-aside {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: #264e72;
}

.map-aside .oficinas-title {
    font-family: "freight_sansmedium", sans-serif;
    font-size: 38px;
    line-height: 1;
}

.oficinas-title {
    display: inline-block;
}

.imgOficinasInfo {
    width: 6%;
}


/*
RESULTADOS LISTA LUGARES MAPA
*/

.map_result_container {
    font-size: 20px;
    height: 1200px;
    max-height: 100vh;
}

.map_result_container .list-map-results {
    height: 100%;
    position: relative;
    max-height: 100vh;
}

.map_result_container .results-header {
    border-bottom: 1px solid #dee4e9;
    font-family: "freight_sansmedium", sans-serif;
    margin-left: -9999px;
    padding: 40px 85px 45px 10039px;
}

.map_result_container .locations {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


/*
ScrollBar
*/

.map_result_container .list-map-results #mCSB_1_scrollbar_vertical {
    background: #fff;
    border-left: 1px solid #bdcad4;
    border-right: 1px solid #bdcad4;
    opacity: 1;
    width: 30px;
}

.map_result_container .list-map-results .mCSB_draggerContainer {
    bottom: 0;
    top: 0;
}

.map_result_container .list-map-results .mCSB_draggerRail {
    background: #bdcad4;
    border-radius: 4px;
    width: 4px;
}

.map_result_container .list-map-results .mCSB_dragger_bar {
    background: #00aef0 !important;
    border-radius: 0;
    width: 6px;
    height: 35px;
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}

.map_result_container .results-header .title {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 20px;
    color: #264e72;
}

.map_result_container .results-header .checkbox-emu-wrap {
    font-size: 18px;
    cursor: pointer;
    color: #264e72;
}

.map_result_container .checkbox-emu-wrap .native-chb {
    display: none;
}

.map_result_container .results-header .checkbox-emu-wrap .chbox-emulator {
    border-color: #7d95aa;
}

.map_result_container .results-header .checkbox-emu-wrap .chbox-emulator {
    border: 2px solid #5a5a58;
    display: inline-block;
    height: 25px;
    margin-right: 8px;
    position: relative;
    transition: border-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    vertical-align: middle;
    width: 25px;
}

.map_result_container .results-header .checkbox-emu-wrap .chbox-emulator {
    border-color: #7d95aa;
}

.map_result_container .checkbox-emu-wrap .chbox-emulator::before {
    background: url(/img/v-check.png);
    content: '';
    height: 19px;
    left: 3px;
    position: absolute;
    top: -1px;
    visibility: hidden;
    width: 23px;
}

.map_result_container input[type=checkbox]:checked+.chbox-emulator::before {
    visibility: visible;
}

.map_result_container .results-item {
    border-bottom: 1px solid #dee4e9;
    cursor: pointer;
    margin-left: -9999px;
    padding: 0 0 0 9999px;
    transition: background 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.map_result_container .results-item:hover,
.map_result_container .results-item.active {
    background: #f1f3f6;
}

.map_result_container .results-item .result-content {
    position: relative;
    padding: 40px 85px 45px 0;
}

.map_result_container .results-item .res-title {
    font-family: "freight_sansmedium", sans-serif;
    color: #264e72;
    font-size: 38px;
    line-height: 1;
    margin: 0 0 20px;
}

.map_result_container .results-item .result-info-item {
    padding: 0 0 20px 48px;
    position: relative;
    color: #264e72;
    font-size: 20px;
}

.map_result_container .results-item .result-place .address {
    font-family: "freight_sansmedium", sans-serif;
    color: #264e72;
    font-weight: normal;
}

.map_result_container .results-item .result-info-item:last-child {
    padding-bottom: 0;
}

.map_result_container .result-content .icon img {
    width: 40px;
    position: absolute;
    right: 36px;
}

.map_result_container .result-content .result-info-item i {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 31px;
    color: #00aef0;
}


/*
    PopUp location
*/

.result-details-popup {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #fff;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.result-details-popup {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.result-details-popup .close-btn {
    position: absolute;
    top: 42px;
    right: 30px;
    width: 20px;
    height: 20px;
    padding: 0;
    z-index: 2;
    border: 0;
    cursor: pointer;
    outline: none;
    background: none;
    min-width: 10px;
}

.result-details-popup .close-btn i {
    color: #00aef0;
}

.result-details-popup .popup-inner {
    float: right;
    width: calc(1200px * 0.3333);
}

.result-details-popup.active {
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.result-details-popup .info-block {
    margin-left: -9999px;
    padding: 40px 65px 45px 9999px;
    font-size: 21px;
}

.result-details-popup .result-content {
    padding: 0;
}

.result-details-popup .result-info-item {
    padding: 0 0 20px 40px;
    position: relative;
}

.result-details-popup .result-content .res-title {
    position: relative;
    display: flex;
    padding: 0;
    flex-direction: row;
}

.result-details-popup .result-details-popup .res-title .icon {
    top: 3px;
    left: 0;
    height: 28px;
    width: 28px;
}

.result-details-popup.active .icon img {
    position: relative;
    right: 7px;
}


/*
ScrollBar
*/

.locations::-webkit-scrollbar {
    width: 18px;
    position: relative;
}

.locations::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 0px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-top: 1px transparent solid;
    border-bottom: 1px transparent solid;
}

.locations::-webkit-scroll-bar-track::after {
    content: "";
    background-color: #bdcad4;
    width: 2px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.locations::-webkit-scrollbar-thumb {
    background: #00aef0;
    border-radius: 0px;
}

.locations::-webkit-scrollbar-thumb:hover {
    background: #264e72;
}

div#mCSB_1_dragger_vertical:hover .mCSB_dragger_bar {
    background-color: #00aef0;
}